sans serif/retro fonts /bold black outlines/ grid layouts

html{
	box-sizing: border-box;
}


body{

	background-color: #f9f9f9;
	top:0;
	letter-spacing: 0.1em;
	font-family: 'Lora', sans-serif;	
}


header{ 
	font-size: 1.8em;
	color: black;
	font-weight: 900;

}

article{
	
	font-size: 1.2em;
	color: black;
	font-weight: 700;
	
}


footer{
	text-align: center;
	color: black;
	margin-top: 2%;
}


h2{
	text-align: center;
	padding-top: 10%;
}

.hometag{
	font-size: 1.3em;
	position: relative;
	padding-left:50px;
	color: white;

}

.nav-link {
	color: white;
}

.navbar{
	
	position: relative;
	border: solid 5px black;
	background-color: #282846;
}




.fa{
	padding: 2%;
	color: black;
	font-size: 30px;
}




.me{
    height: auto; 
    width: auto; 
    max-width: 280px; 
    border:solid;
    border-width: 5px;
}

.footer-tag {
	color: black;
}

.article-container, .image-container {
padding-top:  4%;
padding:8%;
}

.row{
padding-top: 4%;
}


.projects-btn{
	display:flex;
	background-color: #282846;
	margin-top: 15%;
}

.form-main{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10%;
}

.screenshot {

	height: auto; 
    width: auto; 
    max-width: 350px; 
    border:solid;
    border-width: 5px;
}

.projects-left {
	padding-left: 15%;
	padding-bottom: 10%;
	
}

.projects-right {
	padding-right: 15%;
	padding-bottom: 10%;
}


Media Queries



